<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://ramadhan.hsipeduli.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/blistabloc/blistabloc.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://ramadhan.hsipeduli.com/" target="_blank">HSIP Ramadhan</a>
        </div>
        <p>Collecting and channeling funds during the month of Ramadan</p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/directsales/ds1.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/directsales/ds2.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/directsales/ds3.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="" target="_blank">Direct Sales</a>
        </div>
        <p>Records and sell FirstMedia sales activities by visiting customers' homes.</p>
      </figcaption>
    </div>

    <div class="project sibenik">
      <figure class="project__pic phones">
        <a href="" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/sibenik/sibenik1.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/SiBenik/sibenik2.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/sibenik/sibenik3.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="" target="_blank">SiBenik</a>
        </div>
        <p>Kerinci Regency Seed Information System..</p>
      </figcaption>
    </div>


  </div>
</section>
